* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

header {
  flex-basis: 30vh;
}

main {
  flex-grow: 1;
  display: flex;
}

main aside {
  flex-basis: 30%;
  padding: 20px;
  font-size: 25px;
}

main section {
  flex-grow: 1;
  padding: 10px 20px 10px 40px;
}

footer {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
}

#adminLogin label,
#adminLogin input {
  padding: 5px 10px;
}

#adminLogin button {
  margin-top: 30px;
  margin-left: 65%;
}

#errorMessage {
  margin: 20px;
}

#oneProduct h3,
#oneProduct a,
#oneProduct div p {
  margin: 20px;
}

@media (max-width: 700px) and (orientation: landscape) {
  main {
    display: flex;
    flex-direction: column;
  }
  main aside {
    background-color: cadetblue;
    font-size: 14px;
    margin: 0 auto;
    width: 80vw;
  }
  #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section h2 {
    font-size: 1em;
  }
  section p {
    font-size: 12px;
  }
  #productList div {
    font-size: 22px;
  }
  #productList ul {
    font-size: 12px;
  }
  #adminLogin label,
  #adminLogin input {
    padding: 3px 8px;
  }
}
@media (max-width: 400px) and (orientation: portrait) {
  .container header {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main aside {
    background-color: cadetblue;
    margin: 0 auto;
    width: 80vw;
  }
  section h2 {
    font-size: 1em;
  }
  section p {
    font-size: 12px;
  }
  #productList div {
    font-size: 22px;
  }
  #productList ul {
    font-size: 12px;
  }
}
